* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    
    a {
        text-decoration: none !important;
        color: white;
    }
}



/*NAVBAR BST*/

#Nav {
    background-color: black;
    color: white;

    .TitleIndexA {
        padding: 12px;
    }
}


.Present {
    background-image: url(../images/menu/present/Background_section.jpg);
    height: 590px;
    width: 100%;

    .PresentTextImg {
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 0;

        .LogoPresent {
            width: 98%;
        }
    }
}