/*-------------------Display Var-------------------*/
.d-bl {
  display: block; }

.d-fl {
  display: flex; }

.d-in {
  display: inline; }

.d-ib {
  display: inline-block; }

.d-ih {
  display: inherit; }

.d-it {
  display: initial; }

.d-no {
  display: none; }

/*-------------------Spaces-------------------*/
.m-auto {
  margin: auto; }

.m-0 {
  margin: 0; }

.m-5 {
  margin: 5px; }

.m-10 {
  margin: 10px; }

.m-15 {
  margin: 15px; }

.m-20 {
  margin: 20px; }

.m-25 {
  margin: 25px; }

.m-50 {
  margin: 50px; }

.m-100 {
  margin: 100px; }

.mr-auto {
  margin-right: auto; }

.mr-0 {
  margin-right: 0; }

.mr-5 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-25 {
  margin-right: 25px; }

.mr-50 {
  margin-right: 50px; }

.mr-100 {
  margin-right: 100px; }

.ml-auto {
  margin-left: auto; }

.ml-0 {
  margin-left: 0; }

.ml-5 {
  margin-left: 5px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-25 {
  margin-left: 25px; }

.ml-50 {
  margin-left: 50px; }

.ml-100 {
  margin-left: 100px; }

.mt-auto {
  margin-top: auto; }

.mt-0 {
  margin-top: 0; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-50 {
  margin-top: 50px; }

.mt-100 {
  margin-top: 100px; }

.mb-auto {
  margin-bottom: auto; }

.mb-0 {
  margin-bottom: 0; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-100 {
  margin-bottom: 100px; }

/*INDICE*/
/*INDEX*/
/*PCARMADA*/
/*INSUMOS*/
/*OFERTAS*/
/*REGISTRO*/
/*NOTEBOOKS*/
* {
  margin: 0%;
  padding: 0%; }

body {
  color: white;
  background-color: #171717;
  font-family: 'Montserrat', sans-serif; }
  body a {
    color: white;
    text-decoration: none; }
  body a:hover {
    color: white; }
  body li, body ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  body .SectionBanner img {
    width: 100%;
    height: auto;
    margin-bottom: 50px; }
  body .ImgFactor {
    width: auto;
    height: 204;
    padding: 0px 0.5rem; }

/*Media Nav-Footer PHONE*/
@media only screen and (max-width: 599px) {
  /*Nav*/
  #Nav {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: auto; }
  .Mobile, .TitleDiv, .TitleSection, .Carousel-Mobile {
    display: none; }
  /*Footer*/
  .LogoContainer {
    display: none; }
  #Footer {
    display: block;
    height: 200px; }
  .a {
    display: none; }
  .IconsStyle {
    margin: 10px; } }

/*TABLET*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  /*Footer*/
  .LogoContainer {
    display: none; } }

/*Footer Style*/
#Nav {
  background-color: #444444; }

.Logo {
  width: 209;
  height: auto;
  margin: 15px; }

/*_________________BLOQUES_________________*/
/*----ITEMS VENTA----*/
.Contenedor {
  width: auto;
  margin: 0 10%; }
  .Contenedor .SectionItem-O {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }
    .Contenedor .SectionItem-O .ItemContainer .ItemBox {
      width: 230px;
      height: 280px;
      background-color: #EDEDED;
      display: block;
      border-radius: 10px;
      margin: 5px; }
      .Contenedor .SectionItem-O .ItemContainer .ItemBox .ItemImgBox {
        display: flex;
        justify-content: center;
        background-image: linear-gradient(0deg, rgba(88, 88, 88, 0.466), transparent); }
        .Contenedor .SectionItem-O .ItemContainer .ItemBox .ItemImgBox img {
          height: 150px;
          width: auto;
          padding-top: 20px; }
      .Contenedor .SectionItem-O .ItemContainer .ItemBox .ItemSpanBox {
        width: 100%;
        height: 30%;
        color: black;
        margin-top: 25px;
        overflow: hidden; }
        .Contenedor .SectionItem-O .ItemContainer .ItemBox .ItemSpanBox .Title {
          text-align: center;
          width: 100%;
          display: block;
          font-weight: 600; }
        .Contenedor .SectionItem-O .ItemContainer .ItemBox .ItemSpanBox .Price {
          font-weight: bold;
          text-align: center;
          width: 100%;
          display: block;
          padding-bottom: 5px;
          background-color: #EDEDED;
          font-size: x-large; }

/*--------------------------INDEX--------------------------*/
/*Seccion 1-2-3*/
.TitleSectionIndexMOD1 {
  margin: 30px auto 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1290px; }
  .TitleSectionIndexMOD1 h3 {
    font-weight: bold;
    font-style: italic; }

.AIndexMOD1 {
  width: 200px; }
  .AIndexMOD1 .DescriptioIndexMOD1 {
    text-decoration: underline;
    color: #DA0037;
    transition: 0.4s;
    display: block;
    font-weight: 600; }
    .AIndexMOD1 .DescriptioIndexMOD1:hover {
      color: #EDEDED; }

.SectionIndexMOD1 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  .SectionIndexMOD1 .SectionItem {
    align-items: center;
    background-color: #444444;
    overflow: scroll;
    display: flex; }
    .SectionIndexMOD1 .SectionItem .MOD1ItemBox {
      width: 230px;
      height: 280px;
      background-color: #EDEDED;
      display: block;
      border-radius: 10px;
      margin: 15px; }
      .SectionIndexMOD1 .SectionItem .MOD1ItemBox .MOD1ImgBox {
        display: flex;
        justify-content: center;
        background-image: linear-gradient(0deg, rgba(88, 88, 88, 0.466), transparent); }
        .SectionIndexMOD1 .SectionItem .MOD1ItemBox .MOD1ImgBox img {
          height: 150px;
          width: auto;
          padding-top: 20px; }
      .SectionIndexMOD1 .SectionItem .MOD1ItemBox .MOD1SpanBox {
        width: 100%;
        height: 30%;
        color: black;
        margin-top: 25px;
        overflow: hidden; }
        .SectionIndexMOD1 .SectionItem .MOD1ItemBox .MOD1SpanBox .MOD1ItemTitle {
          text-align: center;
          width: 100%;
          display: block;
          font-weight: 600; }
        .SectionIndexMOD1 .SectionItem .MOD1ItemBox .MOD1SpanBox .MOD1Price {
          font-weight: bold;
          text-align: center;
          width: 100%;
          display: block;
          padding-bottom: 5px;
          background-color: #EDEDED;
          font-size: x-large; }

.MOD1Img {
  height: 400px;
  width: auto; }

/*Seccion Envios*/
.Envios {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #444444;
  margin-bottom: 50px;
  border-top: #DA0037 solid 2px;
  border-bottom: #DA0037 solid 2px; }
  .Envios .itemsEnvios {
    flex-wrap: wrap;
    justify-content: center; }
  .Envios .Envios__Tarjeta {
    width: 300px;
    height: 400px;
    font-size: 1vw;
    margin: 40px;
    text-align: center;
    border: #EDEDED solid; }
    .Envios .Envios__Tarjeta .Envios__Tarjeta__Icon {
      margin: 10px; }
    .Envios .Envios__Tarjeta .Envios__Tarjeta__Span {
      font-size: x-large; }
      .Envios .Envios__Tarjeta .Envios__Tarjeta__Span .Envios__Tarjeta__Span__Title {
        color: #DA0037;
        font-weight: bold; }
      .Envios .Envios__Tarjeta .Envios__Tarjeta__Span .Envios__Tarjeta__Span__Description {
        font-style: italic; }
  .Envios .Envios__Camion {
    width: 300px;
    height: 400px;
    margin: 40px;
    font-size: 1vw;
    text-align: center;
    border: #EDEDED solid; }
    .Envios .Envios__Camion .Envios__Camion__Icon {
      margin-bottom: 10px; }
    .Envios .Envios__Camion .Envios__Camion__Span {
      font-size: x-large; }
      .Envios .Envios__Camion .Envios__Camion__Span .Envios__Camion__Span__Title {
        color: #DA0037;
        font-weight: bold; }
      .Envios .Envios__Camion .Envios__Camion__Span .Envios__Camion__Span__Description {
        font-style: italic; }
  .Envios .Envios__FastCamion {
    width: 300px;
    height: 400px;
    margin: 40px;
    text-align: center;
    border: #EDEDED solid; }
    .Envios .Envios__FastCamion .Envios__FastCamion__Icon {
      margin-bottom: 10px; }
    .Envios .Envios__FastCamion .Envios__FastCamion__Span {
      font-size: x-large; }
      .Envios .Envios__FastCamion .Envios__FastCamion__Span .Envios__FastCamion__Span__Title {
        color: #DA0037;
        font-weight: bold; }
      .Envios .Envios__FastCamion .Envios__FastCamion__Span .Envios__FastCamion__Span__Description {
        font-style: italic; }
        .Envios .Envios__FastCamion .Envios__FastCamion__Span .Envios__FastCamion__Span__Description .Envios__FastCamion__Span__Description--Terms {
          text-decoration: underline;
          color: #EDEDED;
          transition: 0.4s; }
        .Envios .Envios__FastCamion .Envios__FastCamion__Span .Envios__FastCamion__Span__Description .Envios__FastCamion__Span__Description--Terms:hover {
          color: #DA0037; }
  .Envios .Envios__CashBack {
    width: 300px;
    height: 400px;
    margin: 40px;
    text-align: center;
    border: #EDEDED solid; }
    .Envios .Envios__CashBack .Envios__CashBack__Icon {
      margin: 10px; }
    .Envios .Envios__CashBack .Envios__CashBack__Span {
      font-size: x-large; }
      .Envios .Envios__CashBack .Envios__CashBack__Span .Envios__CashBack__Span__Title {
        color: #DA0037;
        font-weight: bold; }
      .Envios .Envios__CashBack .Envios__CashBack__Span .Envios__CashBack__Span__Description {
        font-style: italic; }

.BannerMiddleImg img {
  width: 100%;
  height: auto;
  margin-bottom: 50px; }

/*Mobile First - Celular*/
@media only screen and (max-width: 599px) {
  /*----------INDEX----------*/
  .IndexSectionMargin {
    margin: 0 0 auto; }
    .IndexSectionMargin .TitleSectionIndexMOD1 {
      text-align: center; }
      .IndexSectionMargin .TitleSectionIndexMOD1 .AIndexMOD1 {
        width: auto; }
    .IndexSectionMargin .SectionIndexMOD1 {
      width: auto; }
      .IndexSectionMargin .SectionIndexMOD1 .ImgSectionMOD1 {
        display: none; }
      .IndexSectionMargin .SectionIndexMOD1 .SectionItem {
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
        width: 100%; }
        .IndexSectionMargin .SectionIndexMOD1 .SectionItem .ItemBoxes {
          width: calc(100%/2);
          margin: 0px; }
          .IndexSectionMargin .SectionIndexMOD1 .SectionItem .ItemBoxes .MOD1ItemBox {
            width: auto;
            margin: 3px 3px; }
  .Envios {
    flex-direction: column;
    align-items: center;
    width: auto; }
    .Envios .itemsEnvios {
      flex-direction: column; }
      .Envios .itemsEnvios .EnviosWidth .Envios__Tarjeta {
        margin: 15px;
        width: auto;
        height: auto; }
        .Envios .itemsEnvios .EnviosWidth .Envios__Tarjeta .Envios__Tarjeta__Icon {
          width: 60px;
          height: auto; }
        .Envios .itemsEnvios .EnviosWidth .Envios__Tarjeta .Envios__Tarjeta__Span {
          font-size: medium; }
      .Envios .itemsEnvios .EnviosWidth .Envios__Camion {
        margin: 15px;
        width: auto;
        height: auto; }
        .Envios .itemsEnvios .EnviosWidth .Envios__Camion .Envios__Camion__Icon {
          width: 60px;
          height: auto; }
        .Envios .itemsEnvios .EnviosWidth .Envios__Camion .Envios__Camion__Span {
          font-size: medium; }
      .Envios .itemsEnvios .EnviosWidth .Envios__FastCamion {
        margin: 15px;
        width: auto;
        height: auto; }
        .Envios .itemsEnvios .EnviosWidth .Envios__FastCamion .Envios__FastCamion__Icon {
          width: 60px;
          height: auto; }
        .Envios .itemsEnvios .EnviosWidth .Envios__FastCamion .Envios__FastCamion__Span {
          font-size: medium; }
      .Envios .itemsEnvios .EnviosWidth .Envios__CashBack {
        margin: 15px;
        width: auto;
        height: auto; }
        .Envios .itemsEnvios .EnviosWidth .Envios__CashBack .Envios__CashBack__Icon {
          width: 60px;
          height: auto; }
        .Envios .itemsEnvios .EnviosWidth .Envios__CashBack .Envios__CashBack__Span {
          font-size: medium; } }

/*Tablet*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  /*----------INDEX----------*/
  .IndexSectionMargin {
    margin: 0 0 auto; }
    .IndexSectionMargin .AIndexMOD1 {
      width: auto; }
    .IndexSectionMargin .TitleSectionIndexMOD1 {
      text-align: center; }
    .IndexSectionMargin .SectionIndexMOD1 {
      width: auto; }
      .IndexSectionMargin .SectionIndexMOD1 .ImgSectionMOD1 {
        display: none; }
      .IndexSectionMargin .SectionIndexMOD1 .SectionItem {
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
        width: 100%; }
        .IndexSectionMargin .SectionIndexMOD1 .SectionItem .ItemBoxes {
          width: calc(100%/3);
          margin: 0px; }
          .IndexSectionMargin .SectionIndexMOD1 .SectionItem .ItemBoxes .MOD1ItemBox {
            width: auto;
            margin: 3px 3px; }
  .Envios {
    flex-direction: column;
    align-items: center;
    width: auto; }
    .Envios .itemsEnvios {
      flex-direction: row; }
      .Envios .itemsEnvios .EnviosWidth {
        width: calc(100%/2); }
        .Envios .itemsEnvios .EnviosWidth .Envios__Tarjeta {
          margin: 15px;
          width: auto;
          height: 250px; }
          .Envios .itemsEnvios .EnviosWidth .Envios__Tarjeta .Envios__Tarjeta__Icon {
            width: 60px;
            height: auto; }
          .Envios .itemsEnvios .EnviosWidth .Envios__Tarjeta .Envios__Tarjeta__Span {
            font-size: medium; }
        .Envios .itemsEnvios .EnviosWidth .Envios__Camion {
          margin: 15px;
          width: auto;
          height: 250px; }
          .Envios .itemsEnvios .EnviosWidth .Envios__Camion .Envios__Camion__Icon {
            width: 60px;
            height: auto; }
          .Envios .itemsEnvios .EnviosWidth .Envios__Camion .Envios__Camion__Span {
            font-size: medium; }
        .Envios .itemsEnvios .EnviosWidth .Envios__FastCamion {
          margin: 15px;
          width: auto;
          height: 250px; }
          .Envios .itemsEnvios .EnviosWidth .Envios__FastCamion .Envios__FastCamion__Icon {
            width: 60px;
            height: auto; }
          .Envios .itemsEnvios .EnviosWidth .Envios__FastCamion .Envios__FastCamion__Span {
            font-size: medium; }
        .Envios .itemsEnvios .EnviosWidth .Envios__CashBack {
          margin: 15px;
          width: auto;
          height: 250px; }
          .Envios .itemsEnvios .EnviosWidth .Envios__CashBack .Envios__CashBack__Icon {
            width: 60px;
            height: auto; }
          .Envios .itemsEnvios .EnviosWidth .Envios__CashBack .Envios__CashBack__Span {
            font-size: medium; } }

/*PC*/
@media only screen and (min-width: 1024px) {
  /*Header*/
  .navbar-expand-lg .navbar-collapse {
    justify-content: end; }
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  /*Footer*/
  #Footer {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .IconsStyle {
    margin: 10px; } }

/*--------------------------PC ARMADA--------------------------*/
.PcArmadaTitlePage {
  font-weight: bold;
  font-size: x-large; }

.DropdownNTitle {
  display: flex;
  justify-content: space-between; }
  .DropdownNTitle .btn-secondary {
    background-color: #444444; }

/*--------------------------REGISTRO--------------------------*/
.Form {
  width: auto;
  display: flex;
  justify-content: center; }
  .Form .Registro {
    height: auto;
    width: 400px;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px; }
    .Form .Registro .AcGoogle {
      width: 250px;
      height: 50px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 1px #aaaa; }
      .Form .Registro .AcGoogle .RSpan {
        color: black; }
      .Form .Registro .AcGoogle .RSpan:hover {
        color: black; }
      .Form .Registro .AcGoogle .GoogleLogo {
        height: 18px;
        margin-right: 5px; }
    .Form .Registro .FormTitle {
      font-size: xx-large;
      font-weight: bold;
      color: #171717;
      margin: 0; }
    .Form .Registro .FormTitleLine {
      width: 300px;
      max-width: 500px;
      height: 2px;
      background-color: #DA0037; }
    .Form .Registro .FormIn {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .Form .Registro .FormInputs {
      border: solid 1px #c0c0c0;
      margin: 10px;
      height: 50px;
      width: 250px;
      padding-left: 10px; }
    .Form .Registro .FormRegistrar {
      border: solid 1px #c0c0c0;
      margin: 10px;
      height: 50px;
      width: 250px;
      color: black;
      font-weight: bolder;
      background-color: #ffffff; }
    .Form .Registro .TextForm {
      color: black;
      text-decoration: underline;
      font-weight: bolder; }

@media only screen and (max-width: 599px) {
  .Form .Registro {
    width: auto;
    height: auto;
    padding: 15px 5px; }
    .Form .Registro .FormTitleLine {
      width: 150px; } }

/*--------------------------INSUMOS--------------------------*/
@media only screen and (max-width: 599px) {
  .d-ih {
    flex-direction: column;
    align-content: center; }
    .d-ih .dropdown {
      display: flex;
      justify-content: center;
      margin: 5px; }
    .d-ih .mr-10 {
      margin: 0px; } }

/*--------------------------NOTEBOOKS--------------------------*/
.NotebookTitlePage {
  font-weight: bold;
  font-size: x-large;
  margin-left: 15px; }

.DropdownNTitle {
  display: flex;
  justify-content: space-between;
  margin-right: 30px; }
  .DropdownNTitle .btn-secondary {
    background-color: #444444; }

@media only screen and (max-width: 599px) {
  .SectionBanner {
    display: none; }
  .Contenedor {
    margin: 20px 0; }
    .Contenedor .SectionItem-O {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: inherit;
      width: 100%; }
      .Contenedor .SectionItem-O .ItemContainer {
        width: calc(100%/2);
        margin: 0; }
        .Contenedor .SectionItem-O .ItemContainer .ItemBox {
          margin: 3px 3px;
          width: auto; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .Contenedor {
    margin: 20px 0; }
    .Contenedor .SectionItem-O {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: inherit;
      width: 100%; }
      .Contenedor .SectionItem-O .ItemContainer {
        width: calc(100%/3);
        margin: 0; }
        .Contenedor .SectionItem-O .ItemContainer .ItemBox {
          margin: 3px 3px;
          width: auto; } }

/*--------------------------OFERTAS--------------------------*/
.DropdownNTitleOfertas {
  display: flex;
  justify-content: space-between; }
  .DropdownNTitleOfertas .btn-secondary {
    background-color: #444444; }

/*--------------------------ERROR 404--------------------------*/
.Error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vw;
  margin-bottom: 20vw; }
  .Error404 .TextErrorSpan {
    text-align: center; }
  .Error404 .TextError {
    justify-content: center; }

/*--------------------------FOOTER--------------------------*/
#Footer {
  background-color: #444444;
  width: 100%;
  height: auto;
  padding-bottom: 10px; }
  #Footer .LogoFooter {
    width: 209px;
    height: auto;
    display: block;
    padding: 5px 10px;
    margin: 10px; }
  #Footer .TextFooter {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px; }
    #Footer .TextFooter .FootTitle {
      font-weight: 600;
      color: #DA0037;
      margin: 10px; }
    #Footer .TextFooter ul li {
      margin-top: 5px;
      margin-bottom: 5px; }
  #Footer .IconsDiv {
    display: flex;
    justify-content: center; }
    #Footer .IconsDiv .IconsStyle {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #DA0037;
      border-radius: 20px;
      width: 42px;
      height: 42px; }
