@import "var";


/*INDICE*/

/*INDEX*/

/*PCARMADA*/

/*INSUMOS*/

/*OFERTAS*/

/*REGISTRO*/

/*NOTEBOOKS*/





* {
  margin: 0%;
  padding: 0%;
}
body {
    color: white;
    background-color: rgb(23, 23, 23);
    font-family: 'Montserrat', sans-serif;
    

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
      color: white;
    }

    li, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    }

    .SectionBanner img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    }

    .ImgFactor {
    width: auto;
    height: 204;
    padding: 0px 0.5rem;
    }
}



/*Media Nav-Footer PHONE*/
  @media only screen and (max-width: 599px) {
  
  /*Nav*/

    #Nav {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: auto;
  }
  .Mobile, .TitleDiv, .TitleSection, .Carousel-Mobile {
    display: none;
  }
    
  /*Footer*/

  .LogoContainer {
    display: none;
  }
  #Footer {
    display: block;
    height: 200px;
  }
  .a {
    display: none;
  }
  .IconsStyle {
    margin: 10px;
  }

 }
 /*TABLET*/
 @media only screen and (min-width: 600px) and (max-width: 1024px) {
  /*Footer*/
  .LogoContainer {
    display: none;
  }
 }

 /*Footer Style*/
  
  


  #Nav {
    background-color: rgb(68, 68, 68);
  }
  
  .Logo {
    width: 209;
    height: auto;
    margin: 15px;
  }
  




  /*_________________BLOQUES_________________*/
  
    /*----ITEMS VENTA----*/
    .Contenedor {
      width: auto;
      margin:0 10%;
      .SectionItem-O {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        .ItemContainer {
          .ItemBox {
            width: 230px;
            height: 280px;
            background-color: #EDEDED;
            display: block;
            border-radius: 10px;
            margin: 5px;
            .ItemImgBox {
              display: flex;
              justify-content: center;
              background-image: linear-gradient(0deg, rgba(88, 88, 88, 0.466), transparent);
              img {
                height: 150px;
                width: auto;
                padding-top: 20px;
              }
            }
            .ItemSpanBox {
              width: 100%;
              height: 30%;
              color: black;
              margin-top: 25px;
              overflow: hidden;
              .Title {
                text-align: center;
                width: 100%;
                display: block;
                font-weight: 600;
              }
              .Price {
                font-weight: bold;
                text-align: center;
                width: 100%;
                display: block;
                padding-bottom: 5px;
                background-color: $pal-white;
                font-size: x-large;
              }
            }
          }
        }
      }
    }





  /*--------------------------INDEX--------------------------*/
  /*Seccion 1-2-3*/
  .TitleSectionIndexMOD1 {
    margin:30px auto 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1290px;
    h3 {
      font-weight: bold;
      font-style: italic;
    }
  }
  .AIndexMOD1 {
    width: 200px;

    .DescriptioIndexMOD1 {
      text-decoration: underline;
      color: #DA0037;
      transition: 0.4s;
      display:block;
      font-weight: 600;
    
      &:hover {
        color: #EDEDED;
      }
    }
  }

  .SectionIndexMOD1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .SectionItem {
      align-items: center;
      background-color: $pal-gray;
      overflow: scroll;
      display: flex;

      .MOD1ItemBox {
        width: 230px;
        height: 280px;
        background-color: $pal-white;
        display: block;
        border-radius: 10px;
        margin: 15px;

        .MOD1ImgBox {
          img {
            height: 150px;
            width: auto;
            padding-top: 20px;
          }
        
          display: flex;
          justify-content: center;
          background-image: linear-gradient(0deg, rgba(88, 88, 88, 0.466), transparent);
        }

        .MOD1SpanBox {
          width: 100%;
          height: 30%;
          color: black;
          margin-top: 25px;
          overflow: hidden;

          .MOD1ItemTitle {
            text-align: center;
            width: 100%;
            display: block;
            font-weight: 600;
          }

          .MOD1Price {
            font-weight: bold;
            text-align: center;
            width: 100%;
            display: block;
            padding-bottom: 5px;
            background-color: $pal-white;
            font-size: x-large;
          }
        } 
      }
    }
  }

  .MOD1Img {
    height: 400px;
    width: auto;
  }

  /*Seccion Envios*/

  .Envios {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: $pal-gray;
    margin-bottom:50px;
    border-top: $pal-red solid 2px;
    border-bottom: $pal-red solid 2px;
    
    .itemsEnvios {
      flex-wrap: wrap;
      justify-content: center;
    }

      .Envios__Tarjeta {
        width: 300px;
        height: 400px;
        font-size: 1vw;
        margin: 40px;
        text-align: center;
        border:$pal-white solid;

        .Envios__Tarjeta__Icon {
          margin: 10px;
        }

        .Envios__Tarjeta__Span {
          font-size: x-large;

          .Envios__Tarjeta__Span__Title {
            color: $pal-red;
            font-weight: bold;
          }

          .Envios__Tarjeta__Span__Description {
            font-style: italic;
          }
        }
      }

      .Envios__Camion {
        width: 300px;
        height: 400px;
        margin: 40px;
        font-size: 1vw;
        text-align: center;
        border:$pal-white solid;

        .Envios__Camion__Icon {
          margin-bottom:10px;
        }
        .Envios__Camion__Span {
          font-size: x-large;

          .Envios__Camion__Span__Title {
            color: $pal-red;
            font-weight: bold;
          }

          .Envios__Camion__Span__Description {
            font-style: italic;
          }
        }
      }
      .Envios__FastCamion {
        width: 300px;
        height: 400px;
        margin: 40px;
        text-align: center;
        border:$pal-white solid;

        .Envios__FastCamion__Icon {
          margin-bottom:10px;
        }

        .Envios__FastCamion__Span {
          font-size: x-large;

          .Envios__FastCamion__Span__Title {
            color: $pal-red;
            font-weight: bold;
          }
          
          .Envios__FastCamion__Span__Description {
            font-style: italic;

            .Envios__FastCamion__Span__Description--Terms {
              text-decoration: underline;
              color: $pal-white;
              transition: 0.4s;
            }
            .Envios__FastCamion__Span__Description--Terms:hover {
              color: $pal-red;
            } 
          }
        }
      }  
      .Envios__CashBack {
        width: 300px;
        height: 400px;
        margin: 40px;
        text-align: center;
        border:$pal-white solid;

        .Envios__CashBack__Icon {
          margin:10px;
        }

        .Envios__CashBack__Span {
          font-size: x-large;

          .Envios__CashBack__Span__Title {
            color: $pal-red;
            font-weight: bold;
          }

          .Envios__CashBack__Span__Description {
            font-style: italic;
          }
        }
      }
  }

  .BannerMiddleImg img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
    
  


      /*Mobile First - Celular*/
      @media only screen and (max-width: 599px) {
            
        /*----------INDEX----------*/
        .IndexSectionMargin {
          margin: 0 0 auto ;

          .TitleSectionIndexMOD1{
            text-align: center;

            .AIndexMOD1 {
              width: auto;
            }
          }
          .SectionIndexMOD1 {
            width: auto;
  
            .ImgSectionMOD1 {
              display: none;
            }
  
            .SectionItem {
              display: flex;
              flex-wrap: wrap;
              background-color: transparent;
              width: 100%;
  
              .ItemBoxes {
                width: calc(100%/2); 
                margin: 0px;
  
                .MOD1ItemBox {
                  width: auto;
                  margin:3px 3px;
                }
              } 
            } 
          }
        }

        .Envios {
          flex-direction: column;
          align-items: center;
          width: auto;

          .itemsEnvios {
            flex-direction: column;

            .EnviosWidth {

              .Envios__Tarjeta {
                margin: 15px;
                width: auto;
                height: auto;

                .Envios__Tarjeta__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__Tarjeta__Span {
                  font-size: medium;
                }
              }
              .Envios__Camion {
                margin: 15px;
                width: auto;
                height: auto;

                .Envios__Camion__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__Camion__Span {
                  font-size: medium;
                }
              }
              .Envios__FastCamion {
                margin: 15px;
                width: auto;
                height: auto;

                .Envios__FastCamion__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__FastCamion__Span {
                  font-size: medium;
                }
              }
              .Envios__CashBack {
                margin: 15px;
                width: auto;
                height: auto;
                .Envios__CashBack__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__CashBack__Span {
                  font-size: medium;
                }
              }
            }
          }
        }

      }
      /*Tablet*/
      @media only screen and (min-width: 600px) and (max-width: 1024px) {

        /*----------INDEX----------*/
        .IndexSectionMargin {
          margin: 0 0 auto ;

          .AIndexMOD1 {
            width: auto;
          }
          .TitleSectionIndexMOD1 {
            text-align: center;
          }
          .SectionIndexMOD1 {
            width: auto;
  
            .ImgSectionMOD1 {
              display: none;
            }
  
            .SectionItem {
              display: flex;
              flex-wrap: wrap;
              background-color: transparent;
              width: 100%;
  
              .ItemBoxes {
                width: calc(100%/3); 
                margin: 0px;
  
                .MOD1ItemBox {
                  width: auto;
                  margin:3px 3px;
                }
              } 
            } 
          }
        }
        
        .Envios {
          flex-direction: column;
          align-items: center;
          width: auto;

          .itemsEnvios {
            flex-direction: row;

            .EnviosWidth {

              width: calc(100%/2);

              .Envios__Tarjeta {
                margin: 15px;
                width: auto;
                height: 250px;

                .Envios__Tarjeta__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__Tarjeta__Span {
                  font-size: medium;
                }
              }
              .Envios__Camion {
                margin: 15px;
                width: auto;
                height: 250px;

                .Envios__Camion__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__Camion__Span {
                  font-size: medium;
                }
              }
              .Envios__FastCamion {
                margin: 15px;
                width: auto;
                height: 250px;

                .Envios__FastCamion__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__FastCamion__Span {
                  font-size: medium;
                }
              }
              .Envios__CashBack {
                margin: 15px;
                width: auto;
                height: 250px;
                .Envios__CashBack__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__CashBack__Span {
                  font-size: medium;
                }
              }
            }
          }
        }
      }
      /*PC*/
      @media only screen and (min-width: 1024px) {
        /*Header*/
      
        .navbar-expand-lg {
          .navbar-collapse {
            justify-content: end;
          }
      
          .navbar-nav .nav-link {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }
        }
      
        /*Footer*/
      
        #Footer {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      
        .IconsStyle {
          margin: 10px;
        }
      }





  /*--------------------------PC ARMADA--------------------------*/
  




  .PcArmadaTitlePage {
    font-weight: bold;
    font-size: x-large;
  }
  
  .DropdownNTitle {
    display: flex;
    justify-content: space-between;
    .btn-secondary {
      background-color:$pal-gray;
    }
  }
  
  
  




  /*--------------------------REGISTRO--------------------------*/
  
  .Form {
    width: auto;
    display: flex;
    justify-content: center;

    .Registro {
      height: auto;
      width: 400px;
      background-color: $pal-white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-radius: 10px;

      .AcGoogle {
        width: 250px;
        height: 50px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #aaaa;

        .RSpan {
          color: black;
        }
        .RSpan:hover {
          color: black;
        }
        .GoogleLogo {
          height: 18px;
          margin-right: 5px;
        }

      }



      .FormTitle {
        font-size: xx-large;
        font-weight: bold;
        color: $pal-black;
        margin: 0;
      }
  
      .FormTitleLine {
        width: 300px;
        max-width: 500px;
        height: 2px;
        background-color: $pal-red;
      }
      .FormIn {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      .FormInputs {
        border: solid 1px $light-gray;
        margin: 10px;
        height: 50px;
        width: 250px;
        padding-left: 10px;
      }
  
      .FormRegistrar {
        border: solid 1px $light-gray;
        margin: 10px;
        height: 50px;
        width: 250px;
        color: black;
        font-weight: bolder;
        background-color: #ffffff;
      }

      .TextForm {
        color: black;
        text-decoration: underline;
        font-weight: bolder;
      }
    }
    
  }


  @media only screen and (max-width: 599px) {
    .Form {

      .Registro {
        width: auto;
        height: auto;
        padding: 15px 5px;

        .FormTitleLine {
          width: 150px;
        }
      }
    }
  }

  /*--------------------------INSUMOS--------------------------*/
  




  @media only screen and (max-width: 599px) {
    .d-ih {
      flex-direction: column;
      align-content: center;
      .dropdown {
        display: flex;
        justify-content: center;
        margin: 5px;
      }
      .mr-10 {
        margin: 0px;
      }
    }
  }
  
  


  /*--------------------------NOTEBOOKS--------------------------*/
  




  .NotebookTitlePage {
    font-weight: bold;
    font-size: x-large;
    margin-left: 15px;
  }
  
  .DropdownNTitle {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    .btn-secondary {
      background-color:$pal-gray;
    }
  }
  
  
  @media only screen and (max-width: 599px) {
    .SectionBanner {
      display: none;
    }

    .Contenedor {
      margin: 20px 0;
      .SectionItem-O {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: inherit;
        width: 100%;
        .ItemContainer {
          width: calc(100%/2);
          margin: 0;
          .ItemBox {
            margin: 3px 3px;
            width: auto;
          }
        }
      }
    }
  }
 
  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    .Contenedor {
      margin: 20px 0;
      .SectionItem-O {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: inherit;
        width: 100%;
        .ItemContainer {
          width: calc(100%/3);
          margin: 0;
          .ItemBox {
            margin: 3px 3px;
            width: auto;
          }
        }
      }
    }
  }

  



  /*--------------------------OFERTAS--------------------------*/





  .DropdownNTitleOfertas {
    display: flex;
    justify-content: space-between;
    .btn-secondary {
      background-color:$pal-gray;
    }
  }
 


  /*--------------------------ERROR 404--------------------------*/





  .Error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vw;
    margin-bottom: 20vw;

    .TextErrorSpan {
      text-align: center;
    }
    .TextError {
      justify-content: center;
    }

  }





  /*--------------------------FOOTER--------------------------*/
  




  #Footer {
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: auto;
    padding-bottom: 10px;

    .LogoFooter {
      width: 209px;
      height: auto;
      display: block;
      padding: 5px 10px;
      margin: 10px;
    }
    

    .TextFooter {
      display: flex;
      text-align: center;
      flex-direction: column;
      padding: 10px;
      margin: 10px;
      
      .FootTitle {
        font-weight: 600;
        color:#DA0037; 
        margin:10px;
      }

      ul li {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .IconsDiv {
      display: flex;
      justify-content: center;

      .IconsStyle {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #DA0037;
        border-radius: 20px;
        width: 42px;
        height: 42px;
      }
    }
  }
  
  
 

  
  
